# Compiled class files
*.class

# Logs
*.log

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ project files
.idea/
*.iml

# Build output
/target/
/bin/

# OS-specific files
.DS_Store
Thumbs.db
